@model HelpPageApiModel
@{
    ApiDescription description = Model.ApiDescription;
}

<h1>@description.HttpMethod @description.RelativePath</h1>

<div>
    <p>@Model.Documentation</p>

    <h2>请求说明</h2>
    <h3>URI 参数</h3>
    @Html.DisplayFor(m => m.UriParameters, "Parameters")

    @if (Model.RequestModelDescription != null)
    {
        <h3>Body 参数</h3>
        <p>@Model.RequestDocumentation</p>
        @if (Model.RequestModelDescription != null)
        {
            @Html.DisplayFor(m => m.RequestModelDescription.ModelType, "ModelDescriptionLink", new { modelDescription = Model.RequestModelDescription })
            if (Model.RequestBodyParameters != null)
            {
                @Html.DisplayFor(m => m.RequestBodyParameters, "Parameters")
            }
        }
    }

    @if (Model.SampleRequests.Count > 0)
    {
        <h3>Request Formats</h3>
        @Html.DisplayFor(m => m.SampleRequests, "Samples")
    }



    <h2>响应说明</h2>

    <h3>响应结果</h3>
    <p>@Model.ResponseDocumentation</p>
    @if (Model.ResourceDescription != null)
    {
        @Html.DisplayFor(m => m.ResourceDescription.ModelType, "ModelDescriptionLink", new { modelDescription = Model.ResourceDescription })
        if (Model.ResourceProperties != null)
        {
            @Html.DisplayFor(m => m.ResourceProperties, "Parameters")
        }
    }
    else
    {
        <p>None.</p>
    }



</div>

















