@model ModelDescription
<div class="breadcrumb-body">
    <ol class="breadcrumb">
        <li><a href="/helppage">首页</a></li>
        <li><a href="@Url.RouteUrl("helpPageApi",new { groupName = ViewBag.GroupName,apiId = ViewBag.ApiId})">@ViewBag.ApiId</a></li>
        <li class="active">@Model.Name</li>
    </ol>
</div>
<div id="body" class="help-page">

    <h1>@Model.Name</h1>
    <p>@Model.Documentation</p>
    <section class="content-wrapper main-content clear-fix">
        @Html.DisplayFor(m => Model)
    </section>
</div>
